[submodule "third_party/atomic_queue"]
	path = third_party/atomic_queue
	url = https://github.com/max0x7ba/atomic_queue.git
[submodule "third_party/HdrHistogram_c"]
	path = third_party/HdrHistogram_c
	url = https://github.com/HdrHistogram/HdrHistogram_c.git
[submodule "third_party/rdma-core"]
	path = third_party/rdma-core
	url = https://github.com/cxz66666/rdma-core
[submodule "third_party/parallel-hashmap"]
	path = third_party/parallel-hashmap
	url = https://github.com/greg7mdp/parallel-hashmap.git
[submodule "sort"]
	path = sort
	url = git@github.com:jae8259/bf-sort-offload.git
